body{
    background-color: blue;
    background-image: url("bananamans.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; /*to align the background */

    margin: 0px;
}
h1{
    color: rosybrown;
    font-family: "Press Start 2P","consolas", sans-serif;

    border-top-style: dotted;
    border-bottom-style: double;
    border-left-style: inset;
    border-right-style: ridge;
    border-left-width: 10px;
    border-left-color: gold;

    background: linear-gradient(to top, yellow,gold,lime);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background-color: blue;
    color: rosybrown;
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan, wavy;
    font-size: 19px;

    border-style: outset;
    border-width: 30px;
    border-color: silver;
    border-radius: 100px;
    padding: 2px;

    background: linear-gradient(to right, yellow,gold,lime);
    background-repeat: no-repeat;
    background-attachment: fixed;

    clear: left; /* to make the text move below the image */

}/* external */
#p1{
    color: turquoise;
}
.odd{
    background-color: lightblue;
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;

    background: greenyellow;
    margin: 50%;
    margin-top: 100px;
    margin-right: auto;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    text-align: center;
    background: green;

    float: left; /* to fit text and image into a line */
}